<div class="flex items-center justify-center w-full pt-16 px-4">

  <div class="flex-col ">
    <div *ngIf="success_message" class="bg-green-500 rounded p-4 text-white mb-2 border-2 border-green-600">
      {{ success_message }}
    </div>
    <div *ngIf="error_message" class="bg-red-500 rounded p-4 text-white mb-2 border-2 border-red-600">
      {{ error_message }}
    </div>

    <div class="bg-amber-300 p-4 rounded mb-2">
      user account: <br>
      Username: demo <br>
      Password: demo

      <br><br>
      admin account: <br>
      Username: admin <br>
      Password: admin
    </div>

    <div class="bg-slate-400 rounded shadow p-6">
      <h1 class="text-center text-white font-bold text-3xl">Account</h1>

      <form class="flex flex-col gap-8 mt-12">
        <div>
          <label class="text-white">Username</label>
          <input [(ngModel)]="username" class="p-2 w-full rounded shadow" name="username" type="text">
        </div>
        <div>
          <label class="text-white">Password</label>
          <input [(ngModel)]="password" class="p-2 w-full rounded shadow" name="password" type="password">
        </div>
        <div class="flex gap-4 justify-center">
          <button (click)="login()" class="bg-slate-500 text-white px-6 py-2 rounded shadow hover:bg-slate-600 hover:shadow-xl">Login</button>
          <button (click)="register()" class="bg-slate-500 text-white px-6 py-2 rounded shadow hover:bg-slate-600 hover:shadow-xl">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
