<div class="container mx-auto">
  <div *ngIf="success" class="bg-green-500 p-4 my-4 rounded shadow font-bold text-opacity-90 text-white" >
    Thank you for your order!
  </div>

  <p>Order {{ order?.id }}</p>

  <div class="bg-slate-400 rounded p-2">
    <table class="w-full text-left">
      <thead>
      <tr class="border-b border-slate-500">
        <th class="py-3 px-6">Product name</th>
        <th class="py-3 px-6">Quantity</th>
        <th class="py-3 px-6">Price</th>
        <th class="py-3 px-6">Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let detail of order?.orderDetails" class="border-b border-slate-500">
        <td class="py-3 px-6">
          <a class="hover:text-blue-500" routerLink="/product/{{detail.product.id}}">
            {{ detail.product.title }}
          </a>
        </td>
        <td class="py-3 px-6">{{ detail.quantity }}</td>
        <td class="py-3 px-6">€ {{ detail.product.price }}</td>
        <td class="py-3 px-6">€ {{ detail.product.price * detail.quantity }}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="font-bold">
        <td colspan="3" class="py-3 px-6 text-right">Total</td>
        <td class="py-3 px-6">€ {{ order?.orderTotal }}</td>
      </tfoot>
    </table>
  </div>

  <div class="bg-slate-400 rounded p-2 mt-3">
    <p>Shipping address:</p>
    <p><span class="font-bold">Full name: </span>{{order.address.fullName}}</p>
    <p><span class="font-bold">Street: </span>{{order.address.street}}</p>
    <p><span class="font-bold">House: </span>{{order.address.number}}</p>
    <p><span class="font-bold">City: </span>{{order.address.city}}</p>
  </div>
</div>
