<h2 class="mt-6 text-xl font-bold">Place order</h2>
<div class="bg-slate-400 shadow rounded p-4">
  <app-login-required>
  <form (ngSubmit)="onSubmit()">
    <div class="flex mt-1">
      <label class="w-1/3 my-auto">Full name:</label>
      <input class="w-full rounded p-1" id="fullname" [(ngModel)]="orderForm.fullname" name="fullname">
    </div>

    <div class="flex mt-1">
      <label class="w-1/3 my-auto">Street:</label>
      <input class="w-full rounded p-1" id="street" [(ngModel)]="orderForm.street" name="street">
    </div>

    <div class="flex mt-1">
      <label class="w-1/3 my-auto">House number:</label>
      <input class="w-full rounded p-1" id="number" [(ngModel)]="orderForm.number" name="number">
    </div>

    <div class="flex mt-1">
      <label class="w-1/3 my-auto">City:</label>
      <input class="w-full rounded p-1" id="city" [(ngModel)]="orderForm.city" name="city">
    </div>

    <button type="submit" class="px-4 py-2 bg-blue-500 rounded mt-6 text-white font-bold">
      Place order
    </button>
  </form>
  </app-login-required>
</div>
