<h1 class="font-bold text-blue-600 text-3xl mb-1">Orders</h1>

<div class="bg-blue-50 rounded border border-slate-500 shadow overflow-hidden">
  <table class="w-full text-left">
    <thead class="uppercase bg-gray-50">
    <tr>
      <th class="py-3 px-6">Order ID</th>
      <th class="py-3 px-6">Customer</th>
      <th class="py-3 px-6">Order Date</th>
      <th class="py-3 px-6">Order Status</th>
      <th class="py-3 px-6">Order Total</th>
      <th class="py-3 px-6">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders" class="bg-white border-b">
      <td class="py-4 px-6">{{order.id}}</td>
      <td class="py-4 px-6">{{order.byUser.login}}</td>
      <td class="py-4 px-6">{{formatDate(order.orderDate)}}</td>
      <td class="py-4 px-6">
        <div class="bg-green-500 rounded py-1 px-2 font-bold text-white text-center">
          {{order.orderStatus}}
        </div>
      </td>
      <td class="py-4 px-6">{{order.orderTotal}}</td>
      <td class="py-4 px-6">
        <button class="bg-blue-600 py-1 px-2 rounded text-white font-bold mr-1">Edit</button>
        <button class="bg-red-600 py-1 px-2 rounded text-white font-bold">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
