<h1 class="font-bold text-blue-600 text-3xl">Orders</h1>

<div class="bg-blue-50 rounded border border-slate-500 shadow overflow-hidden">
  <table class="w-full text-left">
    <thead class="uppercase bg-gray-50">
    <tr>
      <th class="py-3 px-6">Order ID</th>
      <th class="py-3 px-6">Customer</th>
      <th class="py-3 px-6">Order Date</th>
      <th class="py-3 px-6">Order Status</th>
      <th class="py-3 px-6">Order Total</th>
      <th class="py-3 px-6">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b">
      <td class="py-4 px-6">Order ID</td>
      <td class="py-4 px-6">Customer</td>
      <td class="py-4 px-6">Order Date</td>
      <td class="py-4 px-6">Order Status</td>
      <td class="py-4 px-6">Order Total</td>
      <td class="py-4 px-6"><button></button></td>
    </tr>
    </tbody>
  </table>
</div>
