<div class="container mx-auto">
  <div class="columns-2">
    <div>
      <img src="https://via.placeholder.com/800x800" alt="">
      <button class="rounded-full bg-blue-500 py-2 px-5 text-white font-bold">Add to cart</button>
    </div>
    <div class="">
      <h1 class="text-2xl font-bold">Product </h1>
      <p>Short description</p>
      <span class="font-bold">Price:</span>
      <span class="">€ 75,57</span>

      <h2>Desciption</h2>
      <p>Long description</p>
    </div>
  </div>
</div>
